<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<div class="main">

<div>

<a routerLink = "firstComponent">first</a>

</div>
<div>

  <a routerLink = "secondComponent">second</a>

</div>

</div>

<router-outlet></router-outlet>


<div class="table">

<table>

<tr>

<th>USER ID</th>
<th>MAIN ID</th>
<th>TITLE</th>
<th>WORK COMPLETED</th>

</tr>

<tr *ngFor = "let Data of storeData" class="myTable">

<td>{{Data.userId}}</td>
<td>{{Data.id}}</td>
<td>{{Data.title}}</td>
<td>{{Data.completed}}</td>

</tr>

</table>

</div>

</body>
</html>