<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<p>firstComponent name is {{ name }} and id is {{ id }}</p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<button [disabled] = "situation" (click) = "setDisabledStatus()">add new component</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<p>{{ disabledStatus }}</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<input type="text" [(ngModel)]="myData">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<p>{{ myData }}</p>

</body>
</html>
